.login {
  min-height: 100vh;
  /* background-image: url('/public/ensemble-d-equipements-de-reparation-a-proximite-du-bracelet-en-cuir-et-de-la-plante.jpg');  */
  /* background-size: cover;
  background-position: center; */
  background-color: rgba(220, 234, 255, 0.7);
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
}