.App {
  text-align: center;
  /* padding-top: 60px;  */
  min-height: 100vh;
  /* position: fixed; */
  /* top: 0;
  right: 0; */
}
body {
  padding-top: 40px; /* Ajuste selon la hauteur de ta Navbar */
}
